<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置日志级别 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 设置特定包的日志级别 -->
    <logger name="com.addzero.web" level="DEBUG" />
</configuration>